* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: edu tas beginner, sans-serif;
  background-image: url("../img/cork.png");
}

h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background-image: url("../img/wall.png");
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  max-width: 300px;
  margin: 0 auto;
}
.card img {
  width: 100%;
  height: auto;
  position: relative;
}
.card p {
  margin: 10px;
}
.pin {
  position: absolute;
  background-image: url("../img/pin.png");
}

@media screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
