* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: edu tas beginner, sans-serif;
  background-image: url("../img/cork.png");
}

h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background-image: url("../img/wall.png");
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 5px;
  justify-content: center;
  padding: 10px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
}
.card:hover {
  transform: scale(1.1) rotate(20deg);
  transition: transform 0.5s;
  z-index: 22;
  box-shadow: 20px 15px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  .pin {
    display: none;
  }
}
.card p {
  margin: 10px;
}
.pin {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
#overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-content: center;
  z-index: 222;
}
#overlay img {
  border-radius: 50px;
}
.hidden {
  visibility: hidden !important;
}
.btn {
  padding: 10px 30px;
  width: 50%;
  background-color: #f1f1f1a2;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 40px;
  margin-left: 149px;
}

@media screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
